$UNIT: 1rem;

$CANVAS_WIDTH: 76rem;
$CANVAS_HEIGHT: 80rem;
$CARD_WIDTH: 10rem;
$TABLE_WIDTH: 7.5rem;
$DRAG_WIDTH: 20px;
$PADDING: 0.5rem;
$BORDER_WIDTH: 1px;
$LIST_NUMBER_WIDTH: 1.5rem;
$TWITTER_WIDTH: 18rem;

$SMALL_TEXT: 0.6875rem;
$TEXT: 0.8125rem;
$HEADLINE_TEXT: 0.875rem;

$WEBSITE_MARGIN: 0.125rem;

$WEBSITE_LINE_HEIGHT: 1.4;
$LINE_HEIGHT: 1.5;
$HEADLINE_LINE_HEIGHT: 1;
$TABLE_LINE_HEIGHT: 1.3;

$DISABLED_OPACITY: 0.5;

$Z_MEDIA_CARD_ROOT: 0;
$Z_CARD_ROOT: 1;
$Z_EDITING_CARD_ROOT: 3;
$Z_CARD: 4;
$Z_DRAG: 5;
$Z_SELECTOR: 5;
$Z_DISABLED_COVER: 6;

$Z_OVER: 50;

$TEXT_COLOR: #222;
$BORDER_COLOR: rgba(0, 0, 0, 0.05);
$SELECT_COLOR: #3098db;

$LIGHT_GRAY: #999;
$GRAY: #666;